<div class="container">
    <h1>Quizz App</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card my-4">
          <div class="card-body">
            <div class="row">
              <form action="post" [formGroup]="selectForm" (ngSubmit)="handleClick()">
                <span class="my-2">Please select the domain</span>
                <select class="form-select my-2" formControlName="selected">
                  <option value=""selected disabled >Select a domain</option>
                  <option *ngFor="let sel of selection" [value]="sel.value">{{sel.text}}</option>
                </select>
                <div class="text-center">
                  <button class="btn btn-outline-success mt-3" type="submit">Select</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  